flows (1).json
[{"id":"4909736f.bb8c4c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"d8d93761.8dfbe8","type":"ibmiot in","z":"4909736f.bb8c4c","authentication":"apiKey","apiKey":"2e6c6878.d899b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"ruchika","eventType":"+","commandType":"home","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":120,"wires":[["a15408da.f811f8","a6bb5730.6f3a28"]]},{"id":"14c1eab3.8162d5","type":"debug","z":"4909736f.bb8c4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":320,"wires":[]},{"id":"a15408da.f811f8","type":"function","z":"4909736f.bb8c4c","name":"jason  passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["14c1eab3.8162d5"]]},{"id":"9fe5ba55.401ff8","type":"debug","z":"4909736f.bb8c4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":380,"wires":[]},{"id":"a6bb5730.6f3a28","type":"function","z":"4909736f.bb8c4c","name":"jason  passing","func":"global.set(\"G\",msg.payload.d.gassensor)\nmsg.payload = msg.payload.d.gassensor\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["9fe5ba55.401ff8"]]},{"id":"f0a65b94.00ae88","type":"http in","z":"4909736f.bb8c4c","name":"gas request","url":"/gas","method":"get","upload":false,"swaggerDoc":"","x":210,"y":620,"wires":[["a2ef780d.036428"]]},{"id":"541a5804.bae4c8","type":"http response","z":"4909736f.bb8c4c","name":"","statusCode":"","headers":{},"x":1050,"y":620,"wires":[]},{"id":"a2ef780d.036428","type":"function","z":"4909736f.bb8c4c","name":"gas response","func":"msg.payload = {\"temperature1\":global.get(\"T\"),\"gassensor1\":global.get(\"G\")}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":620,"wires":[["541a5804.bae4c8"]]},{"id":"2e6c6878.d899b8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"dno83a.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]